/*base*/
.bg_dark{
  background-color: #535353;
}

.container{
  width: 1280px;
  margin: 0px auto;
  position: relative;
}

.img_absolute{
  position: absolute;
}

.img_auto_height{
  display: block;
  width: 100%;
  height: auto;
}
