/*main_box*/
.main_box{
    position: relative;
    width: inherit;
    overflow-y: auto;
    height: inherit;
}

.background_box{
    position: relative;
    width: inherit;
}

.img_lantern{
    position: absolute;
    z-index: 10;
    top: 0px;
}

.img_stars{
    position: absolute;
    z-index: 9;
    top: 2.3%;
    width: 49.1%;
    left: 40.1%;
}

.page_part{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 11;
}

.layer_part{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 12;
    background-color: rgba(0,0,0,.7);
}

.img_close{
    position: absolute;
    width: 8.27%;
    z-index: 10;
    right: 5%;
    top: 5%;
}

.img_audio{
  position: absolute;
  z-index: 999;
  width: 9.33%;
  top: 1%;
  left: 30%;
}

audio{
  display: none;
}

@-webkit-keyframes audio_rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes audio_rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.audio_rotateIn{
  -webkit-animation-name: audio_rotateIn;
  animation-name: audio_rotateIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function:linear;
  animation-timing-function:linear;
}

.animate_pause{
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
}


