/*reply_box*/
.reply_box{
  color: #666666;
  font-size: 16px;
  line-height: 30px;
}

.reply_box_title{
  font-weight: 700;
  padding: 5px 10px;
  border-bottom: 1px solid #DDDDDD;
}

.reply_box_title,
.reply_group{
  background-color: #FFFFFF;
}

.reply_item{
  padding: 10px;
}

.reply_item + .reply_item{
  border-top: 1px solid #DDDDDD;
}

.reply_item_user_head{
  float: left;
  width: 30px;
  height: 30px;
}

.reply_item_user_head>img{
  border-radius: 50%;
}

.reply_item_body{
  padding-left: 40px;
}

.reply_item_spot{
  float: right;
}

.reply_item_content{
  overflow: hidden;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 5px;
}

.reply_item_user_nick{
  line-height: 20px;
  font-size: 16px;
  color: #666666;
}

.reply_item_spot,
.reply_item_spot>.mbp{
  font-size: 14px;
}
.reply_item_spot>.mbp{
  margin-right: 5px;
}

.reply_item_create_date{
  line-height: 20px;
  font-size: 12px;
  color: #999999;
}
