/*spot_box*/
.spot_group{
  background-color: #FFFFFF;
  padding: 5px 10px;
  line-height: 30px;
  position: relative;
}

.spot_title{
  font-size: 16px;
  float: left;
  color: #666666;
  font-weight: 700;
}
.spot_title>.mbp{
  margin-right: 5px;
  font-weight: normal;
}

.spot_images{
  height: 30px;
  padding-left: 90px;
  text-align: right;
}

.spot_images>img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.spot_images>img+img{
  margin-left: 10px;
}
