/*nav_head_box*/
.nav_bar{
  width: 100%;
  overflow: hidden;
  height: 40px;
  padding: 10px 0px;
}

.logo{
  float: left;
  height:inherit;
  margin-left: 60px;
}

.logo>a{
  display: block;
  height: inherit;
}
