/*time_address_box*/
.time_address_box{
  background-color: #FFFFFF;
  padding: 0px 0px 0px 10px;
  position: relative;
  line-height: 30px;
}

.time_address_box>div.item_box{
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 5px 0px;
}

.time_address_box>div.item_box+.item_box{
  border-top: 1px solid #DDDDDD;
}

.time_address_box .icon_box{
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  left: 0px;
  top : calc( (100% - 30px) /2 )

}

.time_address_box .item_text{
  padding-left: 40px;
  padding-right: 10px;
  font-size: 14px;
}
