/*section_part_item*/

.section_part_item_body{
  width: 100%;
  height: 643px;
  position: relative;
  overflow: hidden;
}

.section_part_item_bg_image{
  position: absolute;
  z-index: 1;
  width: 100%;
}

.section_part_item_inner_border{
  width: 58%;
  padding-bottom: 43.28%;
  border: 3px solid #FFFFFF;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  position: absolute;
  bottom: 0px;
  left: 60px;
  z-index: 2;
}

.section_part_item_phone{
  position: absolute;
  width: 22.93%;
  padding-bottom: 44.6%;
  z-index: 3;
  bottom: 6%;
  right: 26%;
}

.section_part_item_qr_code{
  position: absolute;
  width: 19.44%;
  padding-bottom: 13.13%;
  z-index: 3;
  bottom: 2%;
  right: 1%;
}
