/*tab_bar_box*/
.tab_bar_box{
  display : box;
  display : -webkit-box;
  background-color: #FFFFFF;
  position: relative;
}

.tab_bar_item{
  box-flex: 1.0;
  -webkit-box-flex: 1.0;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #DDDDDD;
}

.tab_bar_item>.tab_bar_item_title{
  padding: 10px 10px 6px;
  border-bottom: 5px solid transparent;
  font-size: 14px;
  position: relative;
}

.current_target{
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: transparent;
  bottom: -5px;
  left: 0px;
  border-radius: 7px;
}

.tab_bar_item.active>.tab_bar_item_title>.current_target{
  background-color: #FF4E72;
}


